# Gradle files
.gradle/
build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio files
.idea/
*.iml
/.project
/.classpath
/.settings/

# Captures
captures/

# NDK
obj/

# IntelliJ
out/

# Keystore files
*.jks
*.keystore

# Google Services (avoid committing sensitive data)
google-services.json

# Firebase Crashlytics
crashlytics-build.properties

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar

# Misc
.DS_Store
